* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: none;
    box-sizing: border-box;
}


:root {
    font-size: 62.5%; /* 10px */
    --main-h1-color: #B52184;
    --main-p-color: #312D64;

    /* --main-bg-color: brown; */
}

#page {
    margin: auto;
    background: #F9F4FB;
    max-width: 43.0rem;
}

h1 {
    color: var(--main-h1-color);
}

p {
    color: var(--main-p-color);
}

header {
    text-align: center;
}

header .img-hero {
    width: 100%;
    padding-bottom: 1.7rem;
}

header h1 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 0.5rem;
}

header p {
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 3.5rem;
}

.button-down {
    margin-left: 18.6rem;
    padding-bottom: 9.3rem;
}

.content {
    background-color: #312D64;
    padding-top:5.0rem;
    padding-left: 3.9rem;
    padding-right: 3.9rem;
    padding-bottom: 3.9rem;
}

.content div {
    background: #FFF;
    padding: 2.6rem;
    border-radius: 2.0rem;
}

.content img {
    margin-bottom: 3.1rem;
}

.box1 {
    margin-bottom: 5.0rem;
}

.box2 {
    margin-bottom: 5.0rem;
}

.content div h1 {
    font-size: 3.0rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 1.0rem;
}

.content div p {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact {
    background-color: #F9F4FB;
    padding-right: 4.0rem;
    padding-left: 4.0rem;
    align-items: flex-start;
    margin-bottom: 6.5rem;
}

.contact h1 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 7.8rem;
    margin-bottom: 4.3rem;
}

.contact ::placeholder {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    color: var(--main-p-color);
}

.contact input {
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    border-radius: 1.6rem;
    border: 0.15rem solid #312D64;
    margin-bottom: 2.4rem;
    width: 100%;
}

.contact .name input {
    background-image: url(./ASSETS/person.png) ;
    background-repeat: no-repeat;
    background-size: 2.4rem;
    background-position-x: 1.4rem;
    background-position-y: center;
    padding-left: 5.0rem;
}

.contact .email input {
    background-image: url(./ASSETS/email.png) ;
    background-repeat: no-repeat;
    background-position-x: 1.4rem;
    background-position-y: center;
    padding-left: 5.0rem;
}

.contact .mesage textarea {
    padding: 1.2rem 1.6rem 1.6rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 140%; 
    border-radius: 1.6rem;
    border: 0.15rem solid #312D64;
    width: 100%;
    height: 9.8rem;
    margin-bottom: 3.4rem;
}

.contact button {
    background: #343193;
    border: none;    
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; 
    padding: 1.2rem;
    gap: 1.0rem;
    border-radius: 1.6rem;
}

.contact button:hover {
    background: #363463;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #343193;
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 7.8rem;
    align-items: center;
}

footer p {
    color: #FFF;
}

@media (min-width: 700px ) {

    #page {
        max-width: 1440px;
    }
    header {
        display: flex;
        align-items: center;
        padding-left: 10.9rem;
        padding-right: 3.0rem;
        gap: 3.0rem;
    }

    header .img-hero img {
        width: 100%;
    }

    header .img-hero {
        order: 3;
    }

    .hero-mesage {
        width: 78%;
        order: 2;
    }

    .hero-mesage h1 {
        font-size: 5.8rem;
        font-weight: 900;
        line-height: normal;
    }

    .hero-mesage p {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: normal;
    }

    .button-down {
        margin-left: 10.9rem;
    }

    .content {
        display: flex;
        padding: 6.4rem 11.1rem;
        gap: 6.0rem;
    }

    .content div {
        padding: 3.2rem;
    }

    .content .box1, .box2 {
        margin-bottom: 0;
    }

    .contact {
        display: flex;
        padding-left: 10.9rem;
        gap: 9.2rem;
        margin-bottom: 0;
        padding-right: 0;
    }

    .image-right {
        width: 64.4rem;
        height: 61.2rem;
        margin: none;
        padding: none;
        background-image: url(./ASSETS/point-right.png);
    }

    .contact .form-contact {
        width: 50%;
    }
}